@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;1,700;1,900&display=swap");
:root {
  --headerOpacity: 1;
  --headerScale: 1; }

.container {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  margin-top: 100vh; }

.content {
  display: flex;
  flex-direction: column;
  background-color: #333; }

.horsewoman {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto; }
  .horsewoman__image {
    width: 100%; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  box-sizing: border-box;
  font-family: "Vollkorn";
  font-size: 1.5rem;
  color: #333;
  height: 100%;
  overflow-x: hidden;
  width: 100vw; }

.header {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0; }
  .header img {
    object-fit: cover;
    height: 100%; }
  .header__text {
    background-image: url(../img/flint-hills-4.jpeg);
    margin: 0 auto;
    font-size: 8rem;
    position: absolute;
    max-width: 60rem;
    top: 5rem;
    position: fixed;
    line-height: 1;
    font-weight: 900;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 50%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: var(--headerOpacity);
    transform: scale(var(--headerScale)); }

.before {
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../img/praire.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  isolation: isolate;
  overflow: hidden;
  padding-top: 5rem; }
  .before::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, #6a2b2b, white);
    z-index: -1;
    mix-blend-mode: multiply; }
  .before__content {
    margin: 0 auto;
    columns: 35rem 2;
    width: 80%;
    background-color: rgba(3, 3, 3, 0.346);
    position: relative;
    overflow: hidden;
    color: #e5e5e5b7;
    transform: translateY(-10px); }
    .before__content p {
      margin-bottom: 1rem; }
    .before__content::before {
      content: "";
      position: absolute;
      top: -25px;
      left: -25px;
      right: 0;
      bottom: 0;
      width: 100vw;
      box-shadow: inset 0 0 0 3000px rgba(255, 0, 0, 0.3);
      filter: blur(2000px);
      z-index: -1; }
    .before__content h4 {
      column-span: all;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 1rem; }
  .before__farming {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex; }
    .before__farming--pic {
      position: relative;
      aspect-ratio: 1/1;
      object-fit: contain; }

.flower1 {
  z-index: 5; }

.horseconnection {
  height: 100%;
  padding-top: 5rem; }
  .horseconnection__content {
    margin: 0 auto;
    max-width: 50rem;
    width: 70%;
    background-color: #e5e5e5; }
    .horseconnection__content h4 {
      column-span: all;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 1rem; }

.arrival {
  padding-top: 5rem; }
  .arrival__content {
    position: relative;
    padding: 5rem;
    columns: 35rem 2;
    margin: 2rem;
    margin-top: 0;
    background-color: #e5e5e55c;
    box-shadow: inset 0 0 0 3000px rgba(229, 229, 229, 0.7); }
    .arrival__content::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(122, 122, 122, 0.9);
      filter: blur(20px);
      z-index: -1; }
    .arrival__content h4 {
      column-span: all;
      text-transform: uppercase;
      font-weight: bold;
      margin: 2rem; }
    .arrival__content p {
      margin-bottom: 1rem; }
    .arrival__content p:last-child {
      columns: 1; }

.pictures {
  margin: 0 auto;
  display: grid;
  position: relative;
  width: 100%;
  max-width: 80rem;
  overflow: hidden;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "pic6 pic1 pic5" "pic2 pic7 pic5" "pic4 pic4 pic3"; }
  .pictures img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .pictures::after {
    content: "";
    inset: 0;
    position: absolute;
    background: linear-gradient(0deg, rgba(106, 43, 43, 0.5), white);
    mix-blend-mode: multiply; }

.pic1 {
  grid-area: pic1; }

.pic2 {
  grid-area: pic2; }

.pic3 {
  grid-area: pic3; }

.pic4 {
  grid-area: pic4; }

.pic5 {
  grid-area: pic5; }

.pic7 {
  overflow: visible;
  background-color: transparent; }
