* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: "Vollkorn";
  font-size: 1.5rem;
  color: #333;
  height: 100%;
  overflow-x: hidden;
  width: 100vw;
}
