.horseconnection {
  height: 100%;
  padding-top: 5rem;

  &__content {
    margin: 0 auto;
    max-width: 50rem;
    width: 70%;
    background-color: #e5e5e5;

    & h4 {
      column-span: all;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }
}
